{% extends 'base.html' %}

{% block title %}Adoption Agency{% endblock %}

{% block content %}
<h1>Pets</h1>
<div class='container-fluid'>
  {% for pet in pets %}
  <div>
    <img width='200px' height='160px' src='{{ pet.photo_url }}'>
    <h3><a href="/{{ pet.id }}">{{ pet.name }}</a>
      {% if pet.available == True %}
      is Available!
      {% else %}
      is not available...
      {% endif %}
    </h3>
  </div>
  {% endfor %}
</div>
<button><a href='/add'>Add a Pet</a></button>
{% endblock %}