{% extends 'base.html' %}

{% block title %}Pet Detail{% endblock %}

{% block content %}
<h3>{{ pet.name }}</h3>

<img width='200px' height='160px'  src="{{ pet.photo_url }}" alt="photo of pet">
<h3>Age: {{ pet.age }}</h3>
<h3>Species: {{ pet.species }}</h3>

<form method='POST'>
  {{ form.hidden_tag() }}

  {% for field in form 
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %} -->
  <button type='submit'>Submit Pet</button>
</form>
{% endblock %}